header {
    font-size: 300%;
    margin: 0% 0%;
}

#header_container {
    background-image: url("wood.jpg");
    border: 2px solid black;
}


h2 {
    font-size: 300%;
    text-align: right;
    margin-right: 22%;
    margin-left: auto;
}

span {
    font-size: 200%;
}

table {
    font-size: 100%;
}

#img_1 {
    border: 3px solid black;
}